# === SECURITY ===
.env
.env.local
.env.*

# === Dependencies ===
node_modules/
/node_modules

# === Logs (Логи помилок - сміття) ===
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# === Hardhat & Build ===
/artifacts
/cache
/dist
/bundle
/ignition/deployments

# === Typechain ===
/types
/typechain-types

# === Testing ===
/coverage
/coverage.json
test-logs/

# === System Files ===
.DS_Store
Thumbs.db
.history

# === IDE Settings ===
.idea
.vscode
*.swp